@font-face {
    font-family: 'oswaldlight';
    src: url('./../fonts/oswald-light-webfont.eot');
    src: url('./../fonts/oswald-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('./../fonts/oswald-light-webfont.woff') format('woff'),
         url('./../fonts/oswald-light-webfont.ttf') format('truetype'),
         url('./../fonts/oswald-light-webfont.svg#oswaldlight') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'oswaldbook';
    src: url('./../fonts/oswald-regular-webfont.eot');
    src: url('./../fonts/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./../fonts/oswald-regular-webfont.woff') format('woff'),
         url('./../fonts/oswald-regular-webfont.ttf') format('truetype'),
         url('./../fonts/oswald-regular-webfont.svg#oswaldbook') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'fira_sansregular';
    src: url('./../fonts/firasans-regular-webfont.eot');
    src: url('./../fonts/firasans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./../fonts/firasans-regular-webfont.woff') format('woff'),
         url('./../fonts/firasans-regular-webfont.ttf') format('truetype'),
         url('./../fonts/firasans-regular-webfont.svg#fira_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fira_sansbold';
    src: url('./../fonts/firasans-bold-webfont.eot');
    src: url('./../fonts/firasans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./../fonts/firasans-bold-webfont.woff') format('woff'),
         url('./../fonts/firasans-bold-webfont.ttf') format('truetype'),
         url('./../fonts/firasans-bold-webfont.svg#fira_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fira_sansitalic';
    src: url('./../fonts/firasans-italic-webfont.eot');
    src: url('./../fonts/firasans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('./../fonts/firasans-italic-webfont.woff') format('woff'),
         url('./../fonts/firasans-italic-webfont.ttf') format('truetype'),
         url('./../fonts/firasans-italic-webfont.svg#fira_sansitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}


/* -- STYLE -- */

body{
	font-family: 'fira_sansregular';
	width:100%;
	margin:0;
	background-image:url("./../img/background.jpg");

}
h1{
	font-size:3em;
	font-family:'oswaldlight';
	margin:0;
}

#container {
	margin: 40px auto 40px auto;
	width: 80%;
	max-width: 1024px;
	border-radius: 10px;
	-moz-box-shadow: 0px 0px 10px 1px #9b9b9b;
	-webkit-box-shadow: 0px 0px 10px 1px #9b9b9b;
	-o-box-shadow: 0px 0px 10px 1px #9b9b9b;
	box-shadow: 0px 0px 10px 1px #4D4D4D;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#9b9b9b, Direction=NaN, Strength=10);
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
section {
	padding: 0 20px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap:wrap;
	flex-wrap:wrap;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}

a {
	text-decoration:none;
	color:rgba(236, 137, 0, 0.7);
}
a:hover{
	text-decoration:underline;
}
ul {
	margin: 0px;
	padding-left: 20px;
}	
li{
	margin:0px;
	list-style-type:none;
}
nav {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	font-family: 'oswaldlight';
	font-size: 3em;
	background: rgb(97, 192, 219)
	
}
nav a, nav a:visited{
	color:white;
}
nav ul{
	padding:0;
}
section ul li::before{
	content:"> "
}

nav li{
	display: inline-block;
	vertical-align: top;
	width: 100%;
	text-align: left;
	color:white;
}
nav li#index {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background: rgb(97, 192, 219) url("./../img/home.png") no-repeat 10px;
}
nav li#index span{
	margin-left:70px;
}

header.page-title {
	margin: 20px;
}
.accueil article {
	vertical-align: top;
	display: inline-block;
	background-color: rgba(255,255,255,0.5);
	border-radius: 10px;
	margin-bottom:20px;
}
.accueil article:nth-child(2),.accueil article:nth-child(3){
	width:61%;
}
.accueil article:nth-child(1),.accueil article:nth-child(4){
	width:37%;
}
.article-container{
	padding:10px
}
.accueil article header h2 {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 10px;
	font-family: oswaldlight;
	color: white;
	font-size: 1.5em;
	margin:0;
}

.accueil article:nth-child(1) header h2 {
	background: rgb(97, 192, 219) url("./../img/sophrologie.png") no-repeat 98%;
}
.accueil article:nth-child(2) header h2 {
	background: rgb(97, 192, 219) url("./../img/moi.png") no-repeat 98%;
}
.accueil article:nth-child(3) header h2 {
	background: rgb(97, 192, 219) url("./../img/cabinet.png") no-repeat 98%;
}
.accueil article:nth-child(4) header h2 {
	background: rgb(97, 192, 219) url("./../img/contact.png") no-repeat 98%;
}
.accueil {
	background-color: rgb(235, 235, 235);
}
.accueil h2, .accueil h1, .accueil div{
	color: rgb(75, 75, 75);
}
#footer {
	margin-top: 5px;
	text-align: center;
	color: rgb(0, 0, 0);
	font-family: oswaldlight;
	font-size: 0.8em;
	padding:10px;
}
#footer a{
	color:black;
}
.valid{
	margin: 20px;
	border: 2px solid #90EE90;
	padding: 5px 5px 5px 25px;
	border-radius: 10px;
}
.supp{
	float: right;
	border: solid 1px grey;
	border-radius: 13px;
	width: 25px;
	text-align: center;
	cursor:pointer;
}
div#help{
	float: right;
	background: white;
	margin: 20px;
	padding: 10px;
	width: 360px;
	height: 250px;	
}
.accueil article.cache{
	display:none;
}

/* -------------- RESPONSIVE ---------------- */

@media screen and (max-width: 1024px) {
   #container {
      width: 90%;
   }

   div#help {
	width: 270px;
	height: 280px;
	}
}

@media screen and (max-width: 900px) {
   #container {
      width: 95%;
   }
   .accueil article header h2 {
		font-size: 1.3em;
	}
	div#help {
		width: 210px;
		height: 290px;
		font-size: 13px;
	}
}

@media screen and (max-width: 767px) {

	nav {
		font-size: 22px;
	}
	nav li{
		line-height: 60px;
	}
   section{
   		-webkit-flex-direction:column;
   		flex-direction:column;
		-webkit-flex-wrap:wrap;
		flex-wrap:wrap;
	}
	.accueil article:nth-child(2),.accueil article:nth-child(3),.accueil article:nth-child(1),.accueil article:nth-child(4){
		width:100%;
	}
	textarea#content{
		width:390px;
	}
	
}

@media screen and (max-width: 480px) {
   section{
		padding:0;
	}
	.accueil article{
		margin:0;
	}
	.accueil article header{
		border-radius:0;
	}
	.accueil article header h2 {
		border-radius:0;
	}
	div#help {
		float: none; 
		background: white;
		margin: 0px; 
		padding: 10px;
		width: 95%;
		height: 210px;
		font-size: 13px;
	}
	textarea#content{
		width:430px;
	}
}

@media screen and (max-width: 360px) {
   #container{
   		margin:0;
   		width:100%;
   }
   textarea#content{
		width:335px;
	}
}